/.gradle
/*/.gradle
/.idea
/**/.idea/
/*.iml
/gradlew
/gradlew.bat
/*/*.iml
/**/src/gen_code/**
/*/.gradle
/out
/build
/*/out
/*/build
/*/.git
/**/*.class
/**/target
/**/out
/**/build
/front-end/htmlbase/node_modules
/front-end/htmlbase/package-lock.json
/front-end/htmlbase/dist
/front-end/htmlbase/asset/*
/*/gen_*/
/*/target
/compilor/compilor-base-all-1.0.jar
/compilor-test/src/main/gen_code
/catalina.base_IS_UNDEFINED
/gen-base/catalina.base_IS_UNDEFINED/logs/*.log
/gen-base/catalina.base_IS_UNDEFINED/logs/degrade/*.log
/db-api/target
/db-common/target
/db-spring-jdbc/target
/db-spring-jdbc/src/test/scripts/*.txt
/compilor-test/catalina.base_IS_UNDEFINED/logs/*.log
/compilor-test/catalina.base_IS_UNDEFINED/logs/degrade/degradeStrategy.log
/javacc/javacc-6.0
/sqlGen/gradle
/sqlGen/out
/sqlGen/.gradle
/sqlGen/.svn
/javacc/javacc-7.0.3
/gen_class/com/shawn/ss/build_test/common/controller/*.class
/gen_class/com/shawn/ss/build_test/common/service/*.class
/gen_class/com/shawn/ss/build_test/common/sql/*.class
/javacc_proj/src/main/JSqlParserCC.html
/javacc_proj/src/main/gen/doc/doc.html
/gen_class
/compilor
/code-model/.settings/*.prefs
