
<div class="row wrapper border-bottom white-bg page-heading">

    <div class="col-sm-4 col-lg-4 col-xs-4 col-md-4 ">
        <h2></h2>

        <ol class="breadcrumb">
            {{if links}}
            <li>
                <a href="../index/html-main.html">首页</a>
            </li>
            {{for links}}
                <li>
                    <a href="{{:link}}" class="{{if #index+1 === #get('array').data.length}}active{{/if}}">{{:name}}</a>
                </li>
            {{/for}}
            {{else}}
            <li>
                <a href="../index/html-main.html" class="active">首页</a>
            </li>
            {{/if}}
        </ol>
    </div>

    {{!--
    <div class="col-sm-8 col-lg-8 col-xs-8 col-md-8 row">
        {{for btns}}
            <div class="title-action pull-right">
                <a id="btn-t-{{:name}}" href="javascript:void(0);" class="btn btn-primary">{{:text}}</a>
            </div>
        {{/for}}
    </div>
    --}}
</div>
