<nav class="navbar-default navbar-static-side" role="navigation" style="margin-top: 50px">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li id="indexAdminMenu">
                <a href="../index/html-main.html">
                    <i class="glyphicon glyphicon-home "></i>
                    <span class="nav-lab">CodeGen首页</span>
                    <span class="fa arrow glyphicon glyphicon-plus"></span>
                </a>
            </li>

            <li id="settingsAdminMenu">
                <a href="#">
                    <i class="glyphicon glyphicon-cog"></i>
                    <span
                        class="nav-lab">系统设置</span>
                    <span class="fa arrow glyphicon glyphicon-plus"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="../setProduct/html-main.html?index=4">产品设置</a></li>
                    <li><a href="../revisePwd/html-main.html?index=4">安全设置</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>